@import '../../App.scss';
.intetproblem{
    position: relative;
    
    
    background-color: $white;
    border-radius: 8px;
    border: lightgrey solid 2px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    div{
        background-color: $white;
        padding: 2rem;
        h2{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            text-align: center;
            color: $secondaryBlue;
            margin-bottom: 5rem;
        }
        p{
            margin: 3vw;
        }
    }
    img{
        width: 100%; 
    }
    .karin{
        height: 600px;
        object-fit: cover;
    }
}
@media screen and (max-width: 1000px) {
    .intetproblem {
        grid-template-columns: 1fr;
    }}